<!DOCTYPE html>
<html lang="en">
<head>

<br>
  <meta charset="utf-8">
    <title>Dany Mukesha</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap.js"></script>
</head>

<body>
<div class="container">
  <h2>Dany Mukesha</h2> 
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Experience</a></li>
    <li><a data-toggle="tab" href="#menu2">Education</a></li>
    <li><a data-toggle="tab" href="#menu3">Achievemment</a></li>
	<li><a data-toggle="tab" href="#menu4">Attachment</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <img src="https://user-images.githubusercontent.com/45208254/171737754-d9852cad-5116-4bf1-b5cf-f8f8a0856a85.jpg" alt="">
    <p>
        Since February 2021, I have been a Junior Tibco software developer at Catenate group Rome, where I work in team of programmers to build up applications using Tibco software tools, such as Tibco BusinessWorks. 
		Before then, I was a Tibco developer trainee at Catenate S.R.L from February to April 2021, where I learnt and worked within different projects linked to Tibco. 
		In October 2019, I was awarded a Bachelor&#39;s Degree in Bioinformatics(Computer Science and Biology) from <a class="underline" href="https://www.uniroma1.it/en/">Sapienza</a>, University of Rome. 
		Since March 2021, I have been attending a part-time MSc remotely in <a class="underline" href="http://www.scienze.uniroma2.it/?cat=10">Bioinformatics</a>
		<a class="underline" href="http://www.uniroma2.it">Tor Vergata</a> University in Rome, Italy. 
		I have always been passionate about the business world including leadership, analytical thinking, problem solving, team working and communication.
    </p>
    <p>
        I am proficient in using Python, R, Web technologies - HTML, CSS, JS, PHP, MySQL and Bash. The main engine/libraries/tools I am confident with are Source Tree, Vue.JS,
		Pandas, SKlearn, Numpy, and Git. I have a strong knowledge of Linear Algebra, Probability theory, and Calculus applied to Computer Science and Biology. 
    </p>
    </div>
	
	<br>
	
    <div id="menu1" class="tab-pane fade">
    <h5 class="head-name"><strong></strong></h5>
        <div class="entry-row">
            <h6 class="entry-title"><strong>Tibco Consultant</strong></h4>
            <h6 class="entry-time">February 2021 - Present</h6>
            <h6 class="entry-location">Catenate Group, Italy</h6>
            <p class="entry-description justified-text">Design, development, deployment, and administration of TIBCO applications and infrastructure technologies.</p>
        </div>
		</br>
        <div class="entry-row">
            <h6 class="entry-title"><strong>Research Intern</strong></h6>
            <h6 class="entry-time">Dec 2020 - July 2021</h6>
            <h6 class="entry-location">The University of Manchester, UK</h6>
            <p class="entry-description justified-text">Project: “Integrating epigenetic evidence with GWAS data to determine likely causal 
			variant, causal genes and causal cell type in Rheumatoid Arthritis (RA)."
			The project dealt with the integration of epigenetic observations and evidence with the 
			GWAS data to determine credible causal variants, causal genes, and specific causal cell 
			types in Rheumatoid Arthritis. The list of the most recent credible SNPs in various genes 
			was updated using the method of “RA disease, variants, genes and cell-types” mapping 
			and association analysis, based on the analysis of non-related samples, in which the 
			identification of the susceptibility factors involved, generally assumes a certain degree of 
			Linkage disequilibrium between the allele of polymorphic marker and the susceptibility 
			allele for the disease.</p>
        </div>
        </br>
        <div class="entry-row">
            <h6 class="entry-title"><strong>Bioinformatics trainee</strong></h6>
            <h6 class="entry-time">July 2020 - Nov 2020</h6>
            <h6 class="entry-location">Agostino Gemelli University Hospital -  Rome, Italy</h6>
            <p class="entry-description justified-text">Tumour transcriptomics data analysis and profiling. The aim of this study was to collect 
			genes from the important highly connected subgraphs in gene co-expression networks and 
			identify among them some potential Hub genes and key pathways across the microarray 
			tumour samples. https://www.mdpi.com/1422-0067/22/4/1877/html</p>
        </div>
        </br>
        <div class="entry-row">
            <h6 class="entry-title"><strong>Bioinformatics intern</strong></h6>
            <h6 class="entry-time">Jan 2019 - Oct 2019</h6>
            <h6 class="entry-location"> University of Rome, Sapienza</h6>
            <p class="entry-description justified-text">Project description: Research project based on the analysis of bacterial genomes, 
			belonging to a group of species named Burkholderia Cepacia complex. The main 
			objectives were to identify genomic sequences that contain gene mutations maintained 
			over time and classify genomes into different sub-groups. Some subgroups with different 
			virulence factors were found to be resistant to various classes of antibiotics, which 
			brought a good insight to novel genomic targets for developing new efficient drugs.
			</p>
        </div>
	</div>

	<div id="menu2" class="tab-pane fade">
    <h5 class="head-name"><strong></strong></h5>
		<div class="entry-row">
			<h6 class="entry-title"><strong>Msc in Bioinformatics</strong></h6>
			<h6 class="entry-time">March 2020 - Present</h6>
			<h6 class="entry-location">University of Tor Vergata - Rome, Italy</h6>
			<h6 class="entry-grade">Still no grade</h6>
			<p class="entry-description justified-text">Gaining extensive research experience and professional skills in the field of bioinformatics and systems biology</p>
		</div>
		</br>
		<div class="entry-row">
			<h6 class="entry-title"><strong>Bachelor&#39;s Degree in Bioinformatics</strong></h6>
			<h6 class="entry-time">November 2016 - October 2019</h6>
			<h6 class="entry-location">Sapienza, University of Rome - Rome, Italy</h6>
			<h6 class="entry-grade">Distinction</h6>
			<p class="entry-description justified-text">The course provided both computer science and biological science skills necessary to develop high-throughput analysis,
			for solving biological problems based on multi-disciplinary approach</p>
		</div>
		</br>
		<div class="entry-row">
			<h6 class="entry-title"><strong>Certificate in TIBCO BusinessWorks Container Edition(BWCE)</strong></h6>
			<h6 class="entry-time">April 2022 - Present</h6>
			<h6 class="entry-location">Catenate Group - Rome, Italy</h6>
			<h6 class="entry-grade">No grade</h6>
			<p class="entry-description justified-text">I use multiple protocols/procedures to build services, processes, and applications with Tibco products. These processes could involve activities, groups, and loops and/or fault handlers.</p>
		</div>
		</br>
		<div class="entry-row">
			<h6 class="entry-title"><strong>High School Diploma - Branch of Sciences</strong></h6>
			<h6 class="entry-time">Jan 2010 - Dec 2015</h6>
			<h6 class="entry-location">PSVF High School - Butare, Rwanda</h6>
			<h6 class="entry-grade">85/100</h6>
			<p class="entry-description justified-text">Biology, Physics, Mathematics, Chemistry, English, Computer science and entrepreneurship</p>
		</div>
		</br>
	</div>
		
    <div id="menu3" class="tab-pane fade">
    <h5 class="head-name"><strong>Notable Projects \ Contributions</strong></h5>
    <ul class="projects-list">
        
        <li class="justified-text">
            <a href="https://www.mdpi.com/1422-0067/22/4/1877/html">
                <strong>The BET Inhibitor OTX015 Exhibits In Vitro and In Vivo Antitumor Activity in Pediatric Ependymoma Stem Cell Models: </strong>
				<br>
            </a>
            I assisted with technical support in the microarray datasets analysis. Published in the beginning of 2021 on International Journal of Molecular Science.
        </li>
        
    </ul>
    </div>
	
	<div id="menu4" class="tab-pane fade">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<div id="cv">
        <h6 v-on:click="show = !show"><strong>Curriculum Vitae</strong></h6>
        <transition name="fade">
            <div v-if="show">
                <ul>
                    <li>
                        <a href="assets/pdf/dany_mukesha_cv.pdf" target="_blank"><i
                                class="far fa-file-pdf fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="index.html#menu2" target="_blank"><i
                                class="far fa-file-code fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </transition>
    </div>
	</div>
  </div>

<div id="footer">
        <ul>
            <li v-for="link in links">
                <a :href="link.web">
                    <span :class="link.icon"></span>
                </a>
            </li>
        </ul>
        <a href="license.html">
            <span class="far fa-copyright fa-flip-vertical"></span> 2021-2022 Dany Mukesha   
	<div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
	
	<!--	
      <!-- Facebook-->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/dany-mukesha/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/danymukesha"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
        </a>
    </div>
	</div>
</body>

</html>
